* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}

li,
a {
  font-weight: 400;
  font-size: 16px;
  color: orangered;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}
.logo {
  cursor: pointer;
  width: 150px;
  height: 40px;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 10px 20px;
  transition: all 0.3s ease 0s;
}

.nav__links li:hover {
  background-color: orangered;
}
.nav__links li:hover a {
  color: white;
}

.welcome {
  height: 50vh;
  margin: 0px 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.welcome h1 {
  padding-left: 0px;
}

.welcome div {
  max-width: 500px;
  min-width: 200px;
  margin-inline: auto;
}
.welcome p,
.welcome h3 {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  gap: 40px;
  padding: 60px 0;
}
.text--medium {
  font-family: monospace;
  font-size: 14px; /*16px*/
  font-weight: 400;
  line-height: 20px;
  color: #ecf0f1;
}
.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  gap: 40px;
}
.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #39393b;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.card:hover {
  transform: translateY(-7px);
}
.card__image--container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card__image--container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__content {
  padding: 10px; /*20px*/
}
.card__title {
  margin-bottom: 10px; /*20px*/
}

.card__info {
  display: flex;
  /* align-self: flex-end; */
  align-items: center;
}
.card__price {
  margin-left: auto;
  padding: 5px 20px;
  background-color: #303032;
  border-radius: 20px;
}
footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.952);
  align-items: center;
}
footer h1 {
  color: white;
  font-size: 3rem;
  font-family: monospace;
  font-weight: 500;
}

.footer__nav__links {
  list-style: none;
}

.footer__nav__links li {
  display: inline-block;
  border: 1px solid orangered;
  padding: 10px 20px;
  margin: 10px 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}
