:root {
  --inputpadding: 7px 20px;
  --orangeborder: 1px solid orangered;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}

li,
a {
  font-weight: 400;
  font-size: 16px;
  color: orangered;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}
.logo {
  cursor: pointer;
  width: 150px;
  height: 40px;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 10px 20px;
  transition: all 0.3s ease 0s;
}

.nav__links li:hover {
  background-color: orangered;
}
.nav__links li:hover a {
  color: white;
}

.welcome {
  height: 50vh;
  margin: 0px 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.welcome h1 {
  padding-left: 0px;
}

.welcome div {
  max-width: 500px;
  min-width: 200px;
  margin-inline: auto;
}
.welcome p,
.welcome h3 {
  text-align: center;
}

#project__title {
  text-align: center;
  padding: 40px;
  background-color: #8080804b;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  gap: 40px;
  padding: 60px 0;
  background-color: #8080804b;
}

.active {
  color: white;
}
.text--medium {
  font-family: monospace;
  font-size: 14px; /*16px*/
  font-weight: 400;
  line-height: 20px;
  color: #ecf0f1;
}
.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  gap: 40px;
}
.card {
  grid-column-end: span 4;
  cursor: pointer;
  background-color: #FFFFFF;
  transition: all 0.3s ease 0s;
}
.card:hover {
  transform: translateY(-7px);
}
.card__image--container {
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
  position: relative;
}

.card__image--container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__content {
  padding: 10px;  /*20px*/
}
.card__title {
  margin-bottom: 10px;    /*20px*/
  color: #000;
}

/*---------------- start of contact page styles -----------------*/

#contact__header {
  height: 70vh;
  background-image: url(images/345604.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; 
  display: grid;
  grid-template-rows: 1fr 3fr;
}
#contact__header .message {
  display: flex;
  align-items: center;
  padding-left: 10%;
}
.message h1 {
  color: #FFFFFF;
  font-size: 50px;
  line-height: 66px;
  font-weight: bold;
}

.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  margin-top: 40px;
}
.connect form{
  width: 90%;
  padding: 10px 30px;
  border: var(--orangeborder);
  margin: auto;
}

.connect form button {
  width: 200px;
  padding: 10px;
  font-weight: bold;
  border: var(--orangeborder);
  background-color: #FFFFFF;
  border-radius: 30px;
  transition: all .3s ease 0s;
}
.connect form button:hover {
  background-color: orangered;
  color: white;
}
.form_control {
  margin-bottom: 20px;
}
.form_control label {
  display: inline-block;
  margin-bottom: 10px;
}
.form_control input[type=text] {
  outline: none;
  border: var(--orangeborder);
  min-width: 40%;
  padding: var(--inputpadding);
}
.form_control input[type=email] {
  outline: none;
  border: var(--orangeborder);
  min-width: 50%;
  padding: var(--inputpadding);
}
.form_control textarea {
  outline: none;
  border: var(--orangeborder);
  min-width: 60%;
  padding: var(--inputpadding);
}


/*---------------- end of contact page styles -----------------*/

footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.952);
  align-items: center;
}
footer h1 {
  color: white;
  font-size: 29px;
  font-weight: 400;
}

footer h5 {
  color: #ffffff6e;
}
footer .social-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
footer .social-links li {
  color: #ffffff6e;
  font-size: 23px;
  padding: 10px 20px;
  
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.footer__nav__links {
  list-style: none;
}

.footer__nav__links li {
  display: inline-block;
  border: 1px solid orangered;
  padding: 10px 20px;
  margin: 10px 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.footer__nav__links li:hover {
  background-color: orangered;
  color: #FFFFFF;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  header nav {
    display: none;
  }
  main {
    gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
  .message h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 500px) {
  header nav {
    display: none;
  }
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
  .message h1 {
    font-size: 20px;
    line-height: 25px;
  }
}
